# Database 

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5433/mydb?schema=public"

# Application

PORT='3333'
JWT_PRIVATE_KEY='adicionar uma private key em base 64'
JWT_PUBLIC_KEY='adicionar uma public key em base 64'
MAILER_USER='acessar https://ethereal.email/create para obter as credenciais'
MAILER_PASS='acessar https://ethereal.email/create para obter as credenciais'