@font-face {
  font-family: "Tuffy";
  src: url("../../assets/fonts/Tuffy.ttf");
}

@font-face {
  font-family: "Tuffy Bold";
  src: url("../../assets/fonts/Tuffy_Bold.ttf");
}

@font-face {
  font-family: "Viga";
  src: url("../../assets/fonts/Viga-Regular.ttf");
}


* {
  font-family: "Tuffy Bold";
}

.closeButton {
  text-shadow: 1px 2px 3px black;
  position: absolute;
  /* Posicionamento absoluto */
  top: 10px;
  /* Distância do topo */
  right: 10px;
  /* Distância da direita */
  background: transparent;
  border: none;
  /* Remover borda */
  font-size: 20px;
  /* Tamanho da fonte */
  cursor: pointer;
  /* Cursor de mãozinha ao passar sobre o botão */
}

.divDiscordModal {
  pointer-events: all;
  position: fixed;
  left: 29%;
  top: 27%;
  padding: 0 25px;
  /* Espaçamento interno */
  border-radius: 10px;
  /* Bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  width: 40vw;
  /* Largura da div */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  /* Incluir padding e border no cálculo da largura total */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(15px);
  font-family: "Tuffy Bold";
}

.h2DiscordModal {
  font-size: 2rem;
  text-shadow: 1px 2px 3px black;
  color: white;
  position: relative;
  top: 3%;
}

.imgDiscord {
  height: 24vh;
  padding: 5%;
}

.imgDiscord:hover {
  height: 24vh;
  padding: 0%;
}

@keyframes breathing {
  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transform: rotate(360deg);
  }
}